


<div class="breadcrumbs" id="breadcrumbs">
	<ul class="breadcrumb">
		<li><i class="ace-icon fa fa-home home-icon"></i> <a href="#">Home</a>
		</li>
		<li class="active">메시지 전송</li>
	</ul>

</div>
<!--breadcrumbs -->
<div class="page-content">
	<!-- 	<div class="page-header"> -->
	<!-- 		<h1> -->
	<!-- 			메시지 전송 <small> <i class="ace-icon fa fa-angle-double-right"></i> -->
	<!-- 				개인 및 그룹 메시지 -->
	<!-- 			</small> -->
	<!-- 		</h1> -->
	<!-- 	</div> -->
	<!-- /.page-header -->


	<!--row-->
	<div class="row">
		<div class="col-lg-4" id="tab-div">
			<div class="">
				<ul class="nav nav-tabs">

					<li class="active "><a data-toggle="tab"
						href="#msg-send-contact" id="msg-send-contact-div"> 주소록 발송 </a></li>
					<li class=""><a data-toggle="tab" href="#msg-send-group"
						id="msg-send-group-div"> 직접 입력 발송 </a></li>
					<li class=""><a data-toggle="tab" href="#msg-send-excel"
						id="msg-send-excel-div"> 엑셀 입력 발송 </a></li>

					<!-- 		<li><a data-toggle="tab" href="#msg-send-private"
						id="msg-send-private-div"> 개인 발송(직접 입력) </a></li> -->
				</ul>

				<div class="tab-content">
					<div id="msg-send-excel" class="tab-pane fade">
						<div class="widget-box">
							<div class="widget-header">
								<i class="ace-icon fa fa-envelope bigger-180"></i>
								<h4 class="widget-title">&nbsp;엑셀 발송</h4>
							</div>
							<div class="widget-body ">
								<div class="widget-main">
									<i class="ace-icon fa fa-caret-right blue"></i> <label>내용</label>
									<div class="form-group">
										<textarea rows="9" class="form-control"
											id="msg-send-excel-content-textarea" placeholder="필수 입력"></textarea>
										<p id="msg-send-excel-length-p">
											<strong id="msg-send-excel-length-strong">0</strong>/<span
												id="msg-send-excel-length-max">140</span><span
												id="msg-send-excel-length-byte">byte</span>
										</p>
									</div>
									<div class="modal-footer"
										style="background-color: white; border-top: 0px; padding: 0px; padding-top: 0px">
										<button class="btn btn-sm " id="msg-send-excel-cancel-btn">
											<i class="ace-icon fa fa-times"></i> 취소
										</button>

										<button id="msg-send-excel-btn"
											class="btn btn-sm btn-primary ">
											<i id="contact-send-before-i" class="ace-icon fa fa-check"></i><i
												id="contact-send-after-i"
												class="fa fa-circle-o-notch fa-spin" style="display: none;"></i>
											메시지 전송
										</button>
									</div>


									<div class="form-group">
										<i class="ace-icon fa fa-caret-right blue"></i> <label>상용구
											가져오기</label> <select class="form-control"
											id="msg-send-excel-content-load-select">
											<option value="0">선택</option>
										</select>
									</div>

									<div class="form-group">
										<i class="ace-icon fa fa-caret-right blue"></i> <label>자동
											치환</label>&nbsp;<i class="ace-icon fa fa-question-circle blue"
											data-tooltip="tooltip"
											title="발송시에 태그한 내용으로 치환되며,내용길이에 따라 MMS로 전환 될수 있습니다."></i><br>



										<button type="button" id="msg-send-excel-change-name-btn"
											class="btn btn-sm btn-white btn-info ">
											<i class="ace-icon fa fa-tags bigger-120 blue"></i>&nbsp;이름
										</button>
										<button type="button" id="msg-send-excel-change-item1-btn"
											class="btn btn-sm btn-white btn-info ">
											<i class="ace-icon fa fa-tags bigger-120 blue"></i>&nbsp;항목1
										</button>
										<button type="button" id="msg-send-excel-change-item2-btn"
											class="btn btn-sm btn-white btn-info ">
											<i class="ace-icon fa fa-tags bigger-120 blue"></i>&nbsp;항목2
										</button>
										<button type="button" id="msg-send-excel-change-item3-btn"
											class="btn btn-sm btn-white btn-info ">
											<i class="ace-icon fa fa-tags bigger-120 blue"></i>&nbsp;항목3
										</button>
									</div>
									<div class="form-group">
										<i class="ace-icon fa fa-repeat blue"></i> <label> 반복
											메시지 </label>&nbsp; <input id="msg-send-excel-user-repeat-check"
											type="checkbox" />
									</div>
									<div id="msg-send-excel-repeat-div" style="display: none;">
										<div class="form-group">
											<label>횟수</label><br> <span
												style="font-size: x-small; font-weight: bold;">(반복 휫수
												+1 건의 메시지가 발송 됩니다.)</span> <select class="form-control"
												id="msg-send-excel-repeat-cnt-select">
												<option value="0">선택</option>
												<option value="1">1</option>
												<option value="2">2</option>
												<option value="3">3</option>
												<option value="4">4</option>
												<option value="5">5</option>
												<option value="6">6</option>
												<option value="7">7</option>
												<option value="8">8</option>
												<option value="9">9</option>
												<option value="10">10</option>
											</select>
										</div>
										<div class="form-group ">
											<label>반복 시간</label><br> <span
												style="font-size: x-small; font-weight: bold;">(반복
												시간은 최대 24시간(1440분) 입력 가능합니다!)</span> <input class="form-control"
												maxlength="4" id="msg-send-excel-repeat-time-input"
												placeholder="옵션       반복 시간(분 단위)" disabled="disabled">
										</div>
									</div>

									<div>
										<i class="ace-icon fa fa-paperclip blue"></i>&nbsp; <label>파일
											첨부</label>&nbsp; <i class="fa fa-exclamation-triangle red"
											data-tooltip="tooltip" title="파일 첨부시 MMS로 전환되어 발송 됩니다."></i>
										<!-- #section:custom/file-input -->

										<form id="excel-image-upload-form" method="post"
											enctype="multipart/form-data">
											<input type="file" id="excel-image-upload-input">
										</form>
										<input type="hidden" id="file-md5"> <input
											type="hidden" id="file-thumbnail">

									</div>
									<div id="excel-fileprogress" class="progress"
										style="display: none;">
										<div class="progress-bar progress-bar-striped active"
											role="progressbar" aria-valuenow="40" aria-valuemin="0"
											aria-valuemax="100" style="width: 100%">파일 첨부중</div>
									</div>
									<br>
									<div>
										<i class="ace-icon fa fa-clock-o blue"></i>&nbsp;<label>
											예약 메시지 설정</label><br> <span
											style="font-size: x-small; font-weight: lighter;">(예약메시지
											발송이 필요한 경우 오른쪽 캘린더 설정을 해주세요.)</span>
									</div>
									<div class="input-group" id="msg-send-excel-reservation-div">

										<input id="msg-send-excel-reservation-date-input" type="text"
											class="form-control" disabled="disabled"> <span
											class="input-group-addon"> <i
											class="fa fa-clock-o bigger-110"></i>
										</span>

									</div>
								</div>
							</div>
						</div>
					</div>

					<div id="msg-send-contact" class="tab-pane fade in active">
						<div class="widget-box">
							<div class="widget-header">
								<i class="ace-icon fa fa-envelope bigger-180"></i>
								<h4 class="widget-title">&nbsp;주소록 발송</h4>
							</div>
							<div class="widget-body ">
								<div class="widget-main">
									<i class="ace-icon fa fa-caret-right blue"></i> <label>내용</label>
									<div class="form-group">
										<textarea rows="9" class="form-control"
											id="msg-send-contact-private-content-textarea"
											placeholder="필수 입력"></textarea>
										<p id="msg-send-contact-private-length-p">
											<strong id="msg-send-contact-private-length-strong">0</strong>/<span
												id="msg-send-contact-private-length-max">140</span><span
												id="msg-send-contact-private-length-byte">byte</span>
											<!-- 											<button style="margin-top: 5px;" type="button" -->
											<!-- 												data-target="#msg-save-modal" data-toggle="modal" -->
											<!-- 												id="msg-send-contact-private-save-btn" -->
											<!-- 												class="btn btn-sm btn-white btn-info pull-right"> -->
											<!-- 												<i class="ace-icon fa fa-floppy-o bigger-120 blue"></i>&nbsp;상용구저장 -->
											<!-- 											</button> -->


										</p>
									</div>
									<div class="modal-footer"
										style="background-color: white; border-top: 0px; padding: 0px; padding-top: 0px">
										<button class="btn btn-sm "
											id="msg-send-contact-private-cancel-btn">
											<i class="ace-icon fa fa-times"></i> 취소
										</button>

										<button id="msg-send-contact-private-btn"
											class="btn btn-sm btn-primary ">
											<i id="contact-send-before-i" class="ace-icon fa fa-check"></i><i
												id="contact-send-after-i"
												class="fa fa-circle-o-notch fa-spin" style="display: none;"></i>
											메시지 전송
										</button>
									</div>


									<div class="form-group">
										<i class="ace-icon fa fa-caret-right blue"></i> <label>상용구
											가져오기</label> <select class="form-control"
											id="msg-send-contact-private-content-load-select">
											<option value="0">선택</option>
										</select>
									</div>

									<div class="form-group">
										<i class="ace-icon fa fa-caret-right blue"></i> <label>자동
											치환</label>&nbsp;<i class="ace-icon fa fa-question-circle blue"
											data-tooltip="tooltip"
											title="발송시에 태그한 내용으로 치환되며,내용길이에 따라 MMS로 전환 될수 있습니다."></i><br>



										<button type="button" id="msg-send-contact-change-name-btn"
											class="btn btn-sm btn-white btn-info ">
											<i class="ace-icon fa fa-tags bigger-120 blue"></i>&nbsp;이름
										</button>
										<button type="button" id="msg-send-contact-change-item1-btn"
											class="btn btn-sm btn-white btn-info ">
											<i class="ace-icon fa fa-tags bigger-120 blue"></i>&nbsp;항목1
										</button>
										<button type="button" id="msg-send-contact-change-item2-btn"
											class="btn btn-sm btn-white btn-info ">
											<i class="ace-icon fa fa-tags bigger-120 blue"></i>&nbsp;항목2
										</button>
										<button type="button" id="msg-send-contact-change-item3-btn"
											class="btn btn-sm btn-white btn-info ">
											<i class="ace-icon fa fa-tags bigger-120 blue"></i>&nbsp;항목3
										</button>
									</div>



									<!-- 									<div class="form-group"> -->
									<!-- 										<i id="option-i" class="ace-icon fa fa-caret-right blue"></i> -->
									<!-- 										<label> 옵션 설정 </label>&nbsp; <input -->
									<!-- 											id="msg-send-contact-option-check" type="checkbox" /> -->
									<!-- 									</div> -->

									<div class="form-group">
										<i class="ace-icon fa fa-repeat blue"></i> <label> 반복
											메시지 </label>&nbsp; <input
											id="msg-send-contact-private-user-repeat-check"
											type="checkbox" />
									</div>
									<div id="msg-send-contact-private-repeat-div"
										style="display: none;">
										<div class="form-group">
											<label>횟수</label><br> <span
												style="font-size: x-small; font-weight: bold;">(반복 휫수
												+1 건의 메시지가 발송 됩니다.)</span> <select class="form-control"
												id="msg-send-contact-private-repeat-cnt-select">
												<option value="0">선택</option>
												<option value="1">1</option>
												<option value="2">2</option>
												<option value="3">3</option>
												<option value="4">4</option>
												<option value="5">5</option>
												<option value="6">6</option>
												<option value="7">7</option>
												<option value="8">8</option>
												<option value="9">9</option>
												<option value="10">10</option>
											</select>
										</div>
										<div class="form-group ">
											<label>반복 시간</label><br> <span
												style="font-size: x-small; font-weight: bold;">(반복
												시간은 최대 24시간(1440분) 입력 가능합니다!)</span> <input class="form-control"
												maxlength="4"
												id="msg-send-contact-private-repeat-time-input"
												placeholder="옵션       반복 시간(분 단위)" disabled="disabled">
										</div>
									</div>

									<div>
										<i class="ace-icon fa fa-paperclip blue"></i>&nbsp; <label>파일
											첨부</label>&nbsp; <i class="fa fa-exclamation-triangle red"
											data-tooltip="tooltip" title="파일 첨부시 MMS로 전환되어 발송 됩니다."></i>
										<!-- #section:custom/file-input -->

										<form id="contact-image-upload-form" method="post"
											enctype="multipart/form-data">
											<input type="file" id="contact-image-upload-input">
										</form>
										<input type="hidden" id="file-md5"> <input
											type="hidden" id="file-thumbnail">

									</div>
									<div id="fileprogress" class="progress" style="display: none;">
										<div class="progress-bar progress-bar-striped active"
											role="progressbar" aria-valuenow="40" aria-valuemin="0"
											aria-valuemax="100" style="width: 100%">파일 첨부중</div>
									</div>
									<br>
									<div>
										<i class="ace-icon fa fa-clock-o blue"></i>&nbsp;<label>
											예약 메시지 설정</label><br> <span
											style="font-size: x-small; font-weight: lighter;">(예약메시지
											발송이 필요한 경우 오른쪽 캘린더 설정을 해주세요.)</span>
									</div>
									<div class="input-group"
										id="msg-send-contact-private-reservation-div">

										<input id="msg-send-contact-private-reservation-date-input"
											type="text" class="form-control" disabled="disabled">
										<span class="input-group-addon"> <i
											class="fa fa-clock-o bigger-110"></i>
										</span>

									</div>
								</div>
							</div>



						</div>
					</div>
					<div id="msg-send-group" class="tab-pane fade">
						<div class="widget-box">
							<div class="widget-header">
								<i class="ace-icon fa fa-envelope bigger-180"></i>
								<h4 class="widget-title">&nbsp;직접 입력 발송</h4>
							</div>
							<div class="widget-body ">
								<div class="widget-main">
									<!-- 				<div class="form-group">
										<i class="ace-icon fa fa-caret-right blue"></i> <label>개인/그룹
											선택 : </label> <label>개인</label> <input type="radio"
											name="send-check-radio" id="send-check-radio-private"
											value="0" checked="checked"> &nbsp;<label>그룹</label>
										<input type="radio" name="send-check-radio"
											id="send-check-radio-group" value="1">
									</div>
									<div class="form-group">
										<i class="ace-icon fa fa-caret-right blue"></i> <label>Ptalk
											유형 선택 : </label> <label>Ptalk1.0</label> <input type="radio"
											name="send-group-pnum-radio" id="send-group-pnum-p1-radio"
											value="82" checked="checked"> &nbsp;<label>Ptalk2.0</label>
										<input type="radio" name="send-group-pnum-radio"
											id="send-group-pnum-p2-radio" value="1">
									</div>

									<div class="form-group">
										<i class="ace-icon fa fa-caret-right blue"></i> <label
											id="group-fleet-label">fleet 번호</label><br> <span
											id="group-fleet-span"
											style="font-size: x-small; font-weight: bold;">(무전번호의
											fleet번호를 입력해주세요!)</span> <input style="background-color: aliceblue"
											type="text" class="form-control"
											id="send-group-fleep-bunch-input" maxlength="6"
											placeholder="필수 입력">
									</div>

									<div class="form-group">
										<i class="ace-icon fa fa-caret-right blue"></i> <label
											id="group-private-label">개별 번호 </label><br> <span
											id="group-private-span"
											style="font-size: x-small; font-weight: bold;">(무전번호의
											개별 ID를 입력해주세요!)</span>
										<div class="input-group">
											<input maxlength="6" style="background-color: aliceblue"
												type="text" class="form-control" id="send-group-input"
												placeholder="필수 입력"> <span style="cursor: pointer;"
												id="msg-send-group-plus-span" class="input-group-addon"><span
												class="glyphicon glyphicon-plus"></span> </span> <span
												style="cursor: pointer;" id="msg-send-group-minus-span"
												class="input-group-addon"><span
												class="glyphicon glyphicon-minus"></span> </span>
										</div>
									</div>
									<div class="form-group"
										id="msg-send-group-user-target-show-div"
										style="display: none;">
										<i class="ace-icon fa fa-caret-right blue"></i> <label>수신
											무전번호 목록 </label><br>
										<textarea class="form-control"
											id="msg-send-group-user-target-show-input"
											disabled="disabled"></textarea>

									</div> -->
									<i class="ace-icon fa fa-caret-right blue"></i> <label>내용</label>
									<div class="form-group">
										<textarea rows="9" class="form-control"
											id="msg-send-group-content-textarea" placeholder="필수 입력"></textarea>
										<p id="msg-send-group-length-p">
											<strong id="msg-send-group-length-strong">0</strong>/<span
												id="msg-send-group-length-max">140</span><span
												id="msg-send-group-length-byte">byte</span>
											<!-- 											<button style="margin-top: 5px" type="button" -->
											<!-- 												data-target="#msg-save-modal" data-toggle="modal" -->
											<!-- 												id="msg-send-group-save-btn" -->
											<!-- 												class="btn btn-sm btn-white btn-info pull-right"> -->
											<!-- 												<i class="ace-icon fa fa-floppy-o bigger-120 blue "></i>&nbsp;상용구저장 -->
											<!-- 											</button> -->
										</p>
									</div>

									<div class="modal-footer"
										style="background-color: white; border-top: 0px; padding: 0px; padding-top: 0px">
										<button class="btn btn-sm " id="msg-send-group-cancel-btn">
											<i class="ace-icon fa fa-times"></i> 취소
										</button>

										<button id="msg-send-group-btn"
											class="btn btn-sm btn-primary ">
											<i id="group-send-before-i" class="ace-icon fa fa-check"></i>
											<i id="group-send-after-i"
												class="fa fa-circle-o-notch fa-spin" style="display: none;"></i>
											메시지 전송
										</button>
									</div>



									<div class="form-group">
										<i class="ace-icon fa fa-caret-right blue"></i> <label>상용구
											가져오기</label> <select class="form-control"
											id="msg-send-group-content-load-select">
											<option value="0">상용구 선택</option>
										</select>
									</div>

									<!-- 									<div class="form-group"> -->
									<!-- 										<i id="option-group-i" class="ace-icon fa fa-caret-right blue"></i> -->
									<!-- 										<label> 옵션 설정 </label>&nbsp; <input -->
									<!-- 											id="msg-send-group-option-check" type="checkbox" /> -->
									<!-- 									</div> -->

									<!-- 									<div id="group-option-div" style="display: none;"> -->
									<div class="form-group">
										<i class="ace-icon fa fa-repeat blue"></i> <label> 반복
											메시지 </label>&nbsp; <input id="msg-send-group-user-repeat-check"
											type="checkbox" />
									</div>
									<div>
										<i class="ace-icon fa fa-paperclip blue"></i>&nbsp; <label>파일
											첨부</label>&nbsp;<i class="fa fa-exclamation-triangle red"
											data-tooltip="tooltip" title=""
											data-original-title="파일 첨부시 MMS로 전환되어 발송 됩니다."></i>
										<!-- #section:custom/file-input -->

										<form id="group-image-upload-form" method="post"
											enctype="multipart/form-data">
											<input type="file" id="group-image-upload-input">
										</form>
									</div>
									<div id="msg-send-group-repeat-div" style="display: none;">
										<div class="form-group">
											<label>횟수 </label><br> <span
												style="font-size: x-small; font-weight: bold;">(반복 휫수
												+1 건의 메시지가 발송 됩니다.)</span><select class="form-control"
												id="msg-send-group-repeat-cnt-select">
												<option value="0">선택</option>
												<option value="1">1</option>
												<option value="2">2</option>
												<option value="3">3</option>
												<option value="4">4</option>
												<option value="5">5</option>
												<option value="6">6</option>
												<option value="7">7</option>
												<option value="8">8</option>
												<option value="9">9</option>
												<option value="10">10</option>
											</select>
										</div>
										<div class="form-group">
											<label>반복 시간</label><br> <span
												style="font-size: x-small; font-weight: bold;">(반복
												시간은 최대 24시간(1440분) 입력 가능합니다!)</span> <input class="form-control"
												maxlength="4" id="msg-send-group-repeat-time-input"
												placeholder="옵션       반복 시간(분 단위)" disabled="disabled">
										</div>
									</div>

									<br>
									<div>
										<i class="ace-icon fa fa-clock-o blue"></i>&nbsp;<label>
											예약 메시지 설정</label><br> <span
											style="font-size: x-small; font-weight: lighter;">(예약메시지
											발송이 필요한 경우 오른쪽 캘린더 설정을 해주세요.)</span>
									</div>
									<div class="input-group" id="msg-send-group-reservation-div">

										<input id="msg-send-group-reservation-date-input" type="text"
											class="form-control" disabled="disabled"> <span
											class="input-group-addon"> <i
											class="fa fa-clock-o bigger-110"></i>
										</span>

									</div>
								</div>


								<!-- 								<div class="modal-footer" -->
								<!-- 									style="background-color: white; border-top: 0px; padding: 0px; padding-top: 0px"> -->
								<!-- 									<button class="btn btn-sm " -->
								<!-- 										id="msg-send-contact-private-cancel-btn"> -->
								<!-- 										<i class="ace-icon fa fa-times"></i> 취소 -->
								<!-- 									</button> -->

								<!-- 									<button id="msg-send-contact-private-btn" -->
								<!-- 										class="btn btn-sm btn-primary "> -->
								<!-- 										<i id="contact-send-before-i" class="ace-icon fa fa-check"></i><i -->
								<!-- 											id="contact-send-after-i" -->
								<!-- 											class="fa fa-circle-o-notch fa-spin" style="display: none;"></i> -->
								<!-- 										메시지 전송 -->
								<!-- 									</button> -->
								<!-- 								</div> -->

							</div>


						</div>
					</div>
				</div>

				<!--msg-content-edit-modal  -->


				<div id="contact-add-modal" class="modal fade" tabindex="-1">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">

								<h4 class="blue bigger">주소록 등록</h4>
							</div>
							<div class="modal-body">
								<div class="row">
									<div class="col-lg-12">
										<div class="widget-box ui-sortable-handle">
											<div class="widget-header">
												<h5 class="widget-title">주소록 입력</h5>
											</div>
											<div class="widget-body">
												<div class="widget-main">
													<div id="contact-add-form-group-div">
														<div class="form-group">
															<i class="ace-icon fa fa-caret-right blue"></i> <label>개인/그룹
																선택 : </label> <label>개인</label> <input type="radio"
																name="contact-check-radio"
																id="contact-check-radio-private" value="0"
																checked="checked"> &nbsp;<label>그룹</label> <input
																type="radio" name="contact-check-radio"
																id="contact-check-radio-group" value="1">
														</div>

														<div class="form-group">
															<i class="ace-icon fa fa-caret-right blue"></i><label>Ptalk
																유형 선택 : </label> <label>Ptalk1.0</label> <input type="radio"
																name="contact-add-pnum-radio"
																id="contact-add-pnum-p1-radio" value="82"
																checked="checked"> &nbsp;<label>Ptalk2.0</label>
															<input type="radio" name="contact-add-pnum-radio"
																id="contact-add-pnum-p2-radio" value="1">
														</div>

														<!-- 			$('#group-fleet-label').text('fleet 번호');
						$('#group-fleet-span').text('무전번호의 fleet번호를 입력해주세요!');
						$('#group-private-label').text('개별 번호');
						$('#group-private-span').text('무전번호의 개별 ID를 입력해주세요!'); -->
														<div class="form-group">
															<i class="ace-icon fa fa-caret-right blue"></i> <label
																id="contact-fleet-label">fleet 번호</label> <span
																style="font-size: x-small; font-weight: bold;"
																id="contact-fleet-span">(무전번호의 fleet번호를 입력해주세요!)</span>
															<input type="text" style="background-color: aliceblue"
																class="form-control" id="contact-add-fleep-bunch-input"
																maxlength="6" placeholder="필수입력">
														</div>

														<div class="form-group">
															<i class="ace-icon fa fa-caret-right blue"></i> <label
																id="contact-private-label">개별 번호 </label><span
																id="contact-private-span"
																style="font-size: x-small; font-weight: bold;">(무전번호의
																개별 ID를 입력해주세요!)</span> <input maxlength="6" type="text"
																class="form-control" id="contact-add-private-input"
																style="background-color: aliceblue" placeholder="필수입력">
															<!-- 																<span style="cursor: pointer;" -->
															<!-- 																	id="contact-add-plus-span" class="input-group-addon"><span -->
															<!-- 																	class="glyphicon glyphicon-plus"></span> </span> -->

														</div>
													</div>
													<div class="form-group"
														id="contact-add-user-target-show-div"
														style="display: none;">
														<i class="ace-icon fa fa-caret-right blue"></i> <label>수신
															무전번호 </label><br> <input type="text" class="form-control"
															id="contact-add-user-target-show-input"
															disabled="disabled"></input>

													</div>

													<div class="form-group">
														<i class="ace-icon fa fa-caret-right blue"></i> <label>이름
														</label><br> <input type="text" class="form-control"
															id="contact-add-user-name-input" maxlength="10"
															style="background-color: aliceblue" placeholder="필수입력"></input>
													</div>
													<div class="form-group">
														<i class="ace-icon fa fa-caret-right blue"></i> <label>항목1
														</label><input type="text" class="form-control"
															id="contact-add-user-item1-input" maxlength="10"></input>
													</div>
													<div class="form-group">
														<i class="ace-icon fa fa-caret-right blue"></i> <label>항목2
														</label><br> <input type="text" class="form-control"
															id="contact-add-user-item2-input" maxlength="10"></input>
													</div>
													<div class="form-group">
														<i class="ace-icon fa fa-caret-right blue"></i> <label>항목3
														</label><br> <input type="text" class="form-control"
															id="contact-add-user-item3-input" maxlength="10"></input>
													</div>

												</div>
											</div>


										</div>

									</div>


								</div>
								<div class="modal-footer">
									<button class="btn btn-sm" id="contact-add-footer-cancel"
										data-dismiss="modal">
										<i class="ace-icon fa fa-times"></i> 취소
									</button>

									<button id="contact-add-btn" class="btn btn-sm btn-primary">
										<i class="ace-icon fa fa-check"></i> 주소록 등록
									</button>
								</div>
							</div>
						</div>
					</div>

				</div>
				<div id="contact-edit-modal" class="modal fade" tabindex="-1">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">

								<h4 class="blue bigger">주소록 수정</h4>
							</div>
							<div class="modal-body">
								<div class="row">
									<div class="col-lg-12">
										<div class="widget-box ui-sortable-handle">
											<div class="widget-header">
												<h5 class="widget-title">주소록 내용</h5>
											</div>
											<div class="widget-body">
												<div class="widget-main">
													<div class="form-group"
														id="contact-edit-user-target-show-div">
														<i class="ace-icon fa fa-caret-right blue"></i> <label>수신
															무전번호 </label><br> <input type="text" class="form-control"
															id="contact-edit-user-target-show-input"
															disabled="disabled"></input>
													</div>
													<div class="form-group">
														<i class="ace-icon fa fa-caret-right blue"></i> <label>이름
														</label><br> <input type="text" class="form-control"
															id="contact-edit-user-name-input" maxlength="10"></input>
													</div>
													<div class="form-group">
														<i class="ace-icon fa fa-caret-right blue"></i> <label>항목1
														</label><br> <input type="text" class="form-control"
															id="contact-edit-user-item1-input" maxlength="10"></input>
													</div>
													<div class="form-group">
														<i class="ace-icon fa fa-caret-right blue"></i> <label>항목2
														</label><br> <input type="text" class="form-control"
															id="contact-edit-user-item2-input" maxlength="10"></input>
													</div>
													<div class="form-group">
														<i class="ace-icon fa fa-caret-right blue"></i> <label>항목3
														</label><br> <input type="text" class="form-control"
															id="contact-edit-user-item3-input" maxlength="10"></input>
													</div>

												</div>
											</div>


										</div>

									</div>


								</div>
								<div class="modal-footer">
									<button class="btn btn-sm" id="contact-edit-footer-cancel"
										data-dismiss="modal">
										<i class="ace-icon fa fa-times"></i> 취소
									</button>

									<button id="contact-edit-btn" class="btn btn-sm btn-primary">
										<i class="ace-icon fa fa-check"></i> 주소록 수정
									</button>
								</div>
							</div>
						</div>
					</div>

				</div>

				<div class="modal fade bs-example-modal-sm" id="myPleaseWait"
					tabindex="-1" role="dialog" aria-hidden="true"
					data-backdrop="static">
					<div class="modal-dialog modal-sm">
						<div class="modal-content">
							<div class="modal-header">
								<h4 class="modal-title">
									<span class="glyphicon glyphicon-time"> </span>파일 업로드중..
								</h4>
							</div>
							<div class="modal-body">
								<div class="progress">
									<div
										class="progress-bar progress-bar-info
                    progress-bar-striped active"
										style="width: 100%"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!--  -->
			</div>

		</div>
		<div class="col-lg-8" id="contact-list-div">
			<div class="page-header">

				<h4 class="text-primary">주소록 관리</h4>

				<!-- 				<div class="btn-group"> -->
				<!-- 					<button id="contact-delete-btn" class="btn btn-white btn-warning "> -->
				<!-- 						<i class="ace-icon fa fa-remove bigger-120 orange"></i> 주소록 삭제 -->
				<!-- 					</button> -->
				<!-- 				</div> -->


			</div>


			<div class="clearfix">
				<div class="pull-right tableTools-container">
					<div class="btn-group pull-right">
						<a href="#contact-add-modal" data-toggle="modal">
							<button class="btn btn-white btn-info ">
								<i class="ace-icon fa fa-plus bigger-120 blue"></i>주소록 추가
							</button>

						</a>

					</div>
				</div>
			</div>


			<!-- div.table-responsive -->

			<!-- div.dataTables_borderWrap -->
			<div>
				<table id="contact-list-table" width="100%"
					class="table table-striped  table-hover">
					<thead>
						<tr>
							<th><input name="contact-delete-checkbox"
								id="contact-delete-id" type="checkbox" />&nbsp;Ptalk유형</th>
							<th>무전번호</th>
							<th>이름</th>
							<th>항목1</th>
							<th>항목2</th>
							<th>항목3</th>
							<th></th>

						</tr>
					</thead>

					<tbody>

					</tbody>
				</table>

			</div>
		</div>

		<div class="col-lg-8" id="send-list-div" style="display: none;">
			<div class="page-header">

				<h4 class="text-primary">무전 번호 입력</h4>




			</div>
			<div class="widget-main">
				<div class="widget-body">
					<div class="form-group">
						<i class="ace-icon fa fa-caret-right blue"></i> <label>개인/그룹
							선택 : </label> <label>개인</label> <input type="radio"
							name="send-check-radio" id="send-check-radio-private" value="0"
							checked="checked"> &nbsp;<label>그룹</label> <input
							type="radio" name="send-check-radio" id="send-check-radio-group"
							value="1">
					</div>
					<div class="form-group">
						<i class="ace-icon fa fa-caret-right blue"></i> <label>Ptalk
							유형 선택 : </label> <label>Ptalk1.0</label> <input type="radio"
							name="send-group-pnum-radio" id="send-group-pnum-p1-radio"
							value="82" checked="checked"> &nbsp;<label>Ptalk2.0</label>
						<input type="radio" name="send-group-pnum-radio"
							id="send-group-pnum-p2-radio" value="1">
					</div>

					<div class="form-group">
						<i class="ace-icon fa fa-caret-right blue"></i> <label
							id="group-fleet-label">fleet 번호</label><br> <span
							id="group-fleet-span"
							style="font-size: x-small; font-weight: bold;">(무전번호의
							fleet번호를 입력해주세요!)</span> <input style="background-color: aliceblue"
							type="text" class="form-control"
							id="send-group-fleep-bunch-input" maxlength="6"
							placeholder="필수 입력">
					</div>

					<div class="form-group">
						<i class="ace-icon fa fa-caret-right blue"></i> <label
							id="group-private-label">개별 번호 </label><br> <span
							id="group-private-span"
							style="font-size: x-small; font-weight: bold;">(무전번호의 개별
							ID를 입력해주세요!)</span>
						<div class="input-group">
							<input maxlength="6" style="background-color: aliceblue"
								type="text" class="form-control" id="send-group-input"
								placeholder="필수 입력"> <span style="cursor: pointer;"
								id="msg-send-group-plus-span" class="input-group-addon"><span
								class="glyphicon glyphicon-plus"></span> </span> <span
								style="cursor: pointer;" id="msg-send-group-minus-span"
								class="input-group-addon"><span
								class="glyphicon glyphicon-minus"></span> </span>
						</div>
					</div>
					<div class="form-group" id="msg-send-group-user-target-show-div">
						<i class="ace-icon fa fa-caret-right blue"></i> <label>수신
							무전번호 목록 </label><br> <select class="form-control"
							id="msg-send-group-user-target-select" multiple="multiple"
							disabled="disabled"></select>
						<!-- 						<input type="hidden" -->
						<!-- 							id="msg-send-group-user-target-show-input-hidden"> -->

					</div>
				</div>

			</div>

			<!-- div.table-responsive -->

			<!-- div.dataTables_borderWrap -->

		</div>

		<div class="col-lg-8" id="excel-list-div" style="display: none;">
			<div class="page-header">

				<h4 class="text-primary">엑셀 발송</h4>

				<!-- 				<div class="btn-group"> -->
				<!-- 					<button id="contact-delete-btn" class="btn btn-white btn-warning "> -->
				<!-- 						<i class="ace-icon fa fa-remove bigger-120 orange"></i> 주소록 삭제 -->
				<!-- 					</button> -->
				<!-- 				</div> -->


			</div>
			<div class="clearfix">
				<div class=" tableTools-container">
					<div class="btn-group ">

						<button class="btn btn-white btn-info "
							id="msg-send-excel-validation">
							<i class="ace-icon fa fa-exclamation bigger-120 blue"></i>오류검사
						</button>



					</div>
					<div class="btn-group ">

						<button class="btn btn-white btn-info "
							id="msg-send-excel-all-delete">
							<i class="ace-icon fa fa-trash-o bigger-120 blue"></i>전체삭제
						</button>



					</div>
					<div class="btn-group ">

						<button class="btn btn-white btn-info "
							id="msg-send-excel-validation-delete">
							<i class="ace-icon fa fa-file-excel-o  bigger-120 blue"></i>CSV 저장
						</button>


					</div>

				</div>
			</div>
			<!-- style="overflow: scroll;" -->
			<div id="excel-handson"
				style="overflow: hidden; width: 650px; height: 650px"></div>

		</div>
	</div>
	<!--row-->

</div>
<!--page Content-->

